# Ignore cache and user data
cache.json
notes/

# Avoid publishing sensitive API keys and any local config
config.py
.env

# Python common ignores
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
.idea/
.vscode/
*.log
.DS_Store

# Python packaging
build/
dist/
*.egg-info/
.eggs/
.tox/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# setuptools
MANIFEST